body {
    font-family: 'Nunito Sans', sans-serif;
    background: #FAFAFA;
}

.navbar-nav>li {
    padding: 10px;
}

.navbar {
    border-radius: 0;
}

.nav>li>a {
    color: #fff;
    letter-spacing: 1px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}

.fixednavbar {
    background: rgb(32, 66, 252);
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 0 !important;
}

.navbar-brand {
    color: #fff;
    padding: 10px 15px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #fff;
}

.gradient1 {
    background-image: linear-gradient(-180deg, #1c3cfd 0%, #7deff3 85%, #fff 100%);
}

.nunitofont {
    font-family: 'Nunito Sans', sans-serif;
}

.pad10 {
    padding: 10px;
}
.mar0{
    margin: 0;
}
.mar10{
    margin: 10px;
}
.border1solid {
    border: 1px solid;
}

.navsignup {
    background: #ffffff47;
}

.navlogin {
    background: #ffffff47;
}

.footer {
    padding: 20px 50px;
    background: #fff;
}

.footerlogodiv img {
    width: 120px;
}

.footerul li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 20px;
}

.footerul {
    text-align: right;
    padding: 20px;
}

.copyrgttxt {
    color: #767676;
}

.floatrgt {
    float: right;
}

.alignrgt {
    text-align: right;
}

.teal {
    color: #009688;
}

.red {
    color: #F44336;
}

.orangepeel {
    color: #FF9800;
}

.lineheight30 {
    line-height: 30px;
}

p {
    margin: 0;
}

.how-section1 {
    margin-top: -15%;
    padding: 10%;
}

.how-section1 h4, .howitworkrow h4 {
    color: #ffae00;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 35px;
}

.sectionheadtxt {
    color: #3f51b5;
    padding: 10px;
    border-bottom: 3px solid;
}

.how-section1 .subheading {
    color: #3F51B5;
    font-size: 16px;
}

.how-section1 .row {
    margin-top: 7%;
}

.how-img {
    text-align: center;
}

.how-img img {
    width: 300px;
}

.howitwork .list {
    display: block;
    padding: 40px;
}

.howitwork .list li {
    display: block;
    width: 100%;
    margin: 0 0 16px;
    padding: 19px 32px 21px;
    background-color: #ffffff;
    border: solid 1px rgba(230, 235, 237, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    -moz-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    -o-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    -ms-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    text-align: left;
    position: relative;
    opacity: 1;
}

.howitwork .list li p {
    letter-spacing: 1px;
    line-height: 25px;
}

.howitwork .list li .numberspan {
    border-radius: 100%;
    padding: 6px 12px;
    background: #3F51B5;
    margin-right: 15px;
    color: #fff;
}

.howitworkrow {
    background: url(./../images/dna.svg);
}

.contactusmodalbody {
    background: url(./../images/dna.svg) center/cover;
}

.inputstyle {
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 2px;
    outline: none;
}

.contactussubmitbtn, .loginbtn, .signupbtn, .requestotpbtn, .changepasswordbtn, .forgotpasssubmitbtn, .createnewprojectbtn {
    background: #50b0ff;
    color: #fff;
    box-shadow: none;
    padding: 6px 30px;
    text-transform: uppercase;
    border: 1px solid #fff;
    font-weight: 600;
    border-radius: 2px;
    letter-spacing: 1px;
    transition: 1s all;
    outline: none;
}

.contactussubmitbtn:hover, .loginbtn:hover, .signupbtn:hover, .requestotpbtn:hover, .changepasswordbtn:hover, .forgotpasssubmitbtn:hover, .createnewprojectbtn:hover {
    background: #fff;
    color: #50b0ff;
    border: 1px solid #50b0ff;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 3px;
    height: 0px;
    background-color: #FAFAFA;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-180deg, #1c3cfd 0%, #7deff3 85%, #fff 100%);
}

.pybotmakerlogo {
    width: 50px;
}

.fontsize22 {
    font-size: 22px;
}

#scrolltop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #3f51b5c7;
    color: #fff;
}

.buildyourprobtn {
    position: absolute;
    margin-top: -500px;
    left: 46%;
    color: white;
    background: #ffffff73;
    border: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.newprojectimg {
    width: 100px;
    height: 100px;
}
.boxshadow1{
    -webkit-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    -moz-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    -o-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    -ms-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
}

.projectdiv {
    background: #fff;
    -webkit-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    -moz-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    -o-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    -ms-box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04);
    margin: 10px;
    transition: 1s all;
    border: 2px solid transparent;
}

.projectdiv:hover {
    border: 2px solid #2196F3;
    cursor: pointer;
}

.developermodebtn {
    border: 1px solid #000;
    padding: 7px 20px;
    margin: 0 10px;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
    background: #fff;
    outline: none;
    text-transform: uppercase;
    transition: 1s all;
    margin: 10px;
}
.height130{
    height: 130px;
}

.enable {
    background: #000 !important;
    color: #fff !important;
}

.customermodebtn {
    border: 1px solid #000;
    padding: 7px 20px;
    margin: 0 10px;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
    background: #fff;
    outline: none;
    text-transform: uppercase;
    transition: 1s all;
    margin: 10px;
}

.projectnametxt {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    letter-spacing: 1px;
}

.createnewprojectdiv {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 300px;
    position: absolute;
    z-index: 1;
    left: -300px;
    transition: 1s all;
}

.createnewprojectdivclosebtn {
    background: transparent;
    border: 0;
    outline: none;
    font-size: 25px;
    padding: 0 15px;
    color: #000;
    right: 2px;
    position: absolute;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    background: #fff;
    left: 0;
    padding: 20px;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 16px;
    text-overflow: ellipsis;
}

#sidebar ul li a:hover {
    background: #3f51b51f;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    background: #3f51b51f;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 5px;
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

.components li a {
    list-style-type: none;
    text-decoration: none;
}

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background: url(./../images/dna.svg) center/cover; 
    background-attachment: fixed;
}

#content.active {
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

#sidebarCollapse {
    border: 0;
    background: transparent;
    padding: 20px;
    outline: none;
}

#content .nav>li>a {
    color: #666;
    letter-spacing: 1px;
}
.whitebg{
    background: #fff;
}
.chatbotwithbgdiv{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 4;
    animation: pulse1 1.5s infinite;
    box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
}
.chatbotwithbgdiv:hover{
    animation: none;
}
.chatbotwithbgdiv img{
    width: 60px;   
    
}

.outerchatbotdiv{
    background: #fff;
    z-index: 4;
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 7px;
}
.topchatdiv{
    border-bottom: 1px solid #ddd;
}
.topchatdiv p {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.topchatdiv img{
    width: 40px;
}
.topchatdiv i{
    float: right;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px 7px 0 0;
}
.centerchatdiv{
    padding: 10px;
    height: 380px;
    background: url(./../images/chatinnerbg.jpg) center/cover;
    overflow: auto;
    overflow-x: hidden;
}

.centerchatdiv::-webkit-scrollbar {
    width: 0px;
}


.bottomchatdiv input{
    outline: none;
    border: 0;
    border-radius: 0 0 7px 7px;
}
.leftsidemsg{
    padding: 7px 10px;
    border-radius: 0 10px 0px 10px;
    background: #eff5f7;
    margin: 5px;
    float: left;
}
.rightsidemsg{    
    padding: 7px 10px;
    border-radius: 10px 0px 10px 0px;
    background: #3F51B5;
    margin: 5px;
    color: #fff;
    float: right;
}
.leftsidemsgdiv{
    margin: 10px;
    display: flex;
    width: 100%;
}
.rightsidemsgdiv{
    margin: 10px;
    width: 100%;
    display: block;
}
.padlft10{
    padding-left: 10px;
}

.createagentinput{
    outline: none;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px 160px 20px 20px;
}
.createagentinput:active, .createagentinput:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #ddd;
    
}
.deleteagentspan{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #F44336;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    transition: 1s all;
    cursor: pointer;
}
.deleteagentspan:hover{
    color: #fff;
    background: #F44336;
}
.createspan{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #3F51B5;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    transition: 1s all;
    cursor: pointer;
}
.createspan:hover{
    color: #fff;
    background: #3F51B5;
}
.agentlistdiv{
    margin: 5px 50px;
    padding: 15px;
    background: #fff;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}
.inputstyle:active, .inputstyle:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #ddd;
}
#content .navbar{
    position: sticky;
    top: 0;
    z-index: 5;
}
.addinputdiv{
    margin: 5px 60px;
    padding: 10px;
}
.trainingphrasesavebtn,.actparasvaebtn,.responsesvaebtn {
    background: #fff;
    color: #009688;
    box-shadow: none;
    padding: 6px 30px;
    text-transform: uppercase;
    border: 1px solid #009688;
    font-weight: 600;
    border-radius: 2px;
    letter-spacing: 1px;
    transition: 1s all;
    outline: none;
}
.trainingphrasesavebtn:hover, .actparasvaebtn:hover,.responsesvaebtn:hover{
    color: #fff;
    background: #009688;
}

.actparaaddbtn,.responseaddbtn{
    background: #fff;
    color: #3F51B5;
    box-shadow: none;
    padding: 6px 30px;
    text-transform: uppercase;
    border: 1px solid #3F51B5;
    font-weight: 600;
    border-radius: 2px;
    letter-spacing: 1px;
    transition: 1s all;
    outline: none;
}
.actparaaddbtn:hover,.responseaddbtn:hover{
    color: #fff;
    background: #3F51B5;
}
.actparatablefaicon,.responsetablefaicon{
    font-size: 18px;
    padding: 8px 15px;
}
.intentparadiv{
    padding: 10px;
    height: 380px;
    background: url(./../images/chatinnerbg.jpg) center/cover;
    overflow: auto;
    overflow-x: hidden; 
    z-index: 4;
    width: 300px;
    position: fixed;
    bottom: 55px;
    right: 20px;
}
@keyframes pulse1 {
    0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    70% {
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }
  
  .creatprojectmodeimage{
    width: 125px;
  }